body{
    background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: "Lora", "Times New Roman", serif;
}

.tabela-container {
    border: 1px solid #accbee;
    border-radius: 8px;
        overflow-x: auto;
}

.tabela-modulo {
    margin-bottom: 0;
}

.tabela-modulo th,
.tabela-modulo td {
    text-align: center;
    vertical-align: middle;
    border:none;
}

.tabela-modulo td {
    padding: 1rem 1rem;
}

.tabela-modulo thead th {
    background: radial-gradient(circle,rgba(50, 121, 221, 1) 0%, rgba(54, 92, 145, 1) 100%) !important;
    color: #ffffff;
    font-weight: 500;
}

.btn-primary {
    background-image: linear-gradient(90deg,rgba(50, 121, 221, 1) 0%, rgba(54, 92, 145, 1) 100%);
    font-weight: 500;
    border: none;
        padding: 0.5rem 1rem;
}

.btn-primary:hover {
    background-color: rgba(54, 92, 145, 1);
    transform: translateY(-2px);
}

.btn-outline-primary {
    color: #2f3e46;
    border: 1px solid #2f3e46;
    border-color: rgba(54, 92, 145, 1);
}

.btn-outline-primary:hover {
    background-color: rgba(50, 121, 221, 1);
    color: white;
    border-color: rgba(54, 92, 145, 1);
}

.filtro-separador {
    flex-shrink: 0;
    align-self: center;
    width: 2px;
    height: 1px;
    min-width: 2px;
    min-height: 1rem;
    background-color: rgba(54, 92, 145, 1);
    margin: 0 0.5rem;
}


.modulo-card {
    background-image: linear-gradient(-20deg, #accbee 0%, #e7f0fd 100%);
    font-size: 1.1rem;
}

.modulo-card .badge {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
    background-image: linear-gradient(90deg,rgba(50, 121, 221, 1) 0%, rgba(54, 92, 145, 1) 100%);
}

.select-filter {
  background-color: transparent;
  color: rgba(54, 92, 145, 1);
  width: auto;
  border: 1px solid rgba(54, 92, 145, 1);
}

.select-filter:focus {
  border-color: rgba(54, 92, 145, 1);
  box-shadow: 0 0 0 0.25rem rgba(54, 92, 145, 0.25);
}

.select-filter-status {
  /* max-width: 12rem; */
  width: 14rem;
}

.select-filter-prioridade {
  /* max-width: 12rem; */
  width: 14rem;

}

body.page-index {
  min-height: 100vh;
}

@media (min-width: 768px) {
  body.page-index {
    height: 100vh;
    overflow: hidden;
  }
}

.index-container {
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .index-container {
    overflow-y: hidden;
  }
}

@media (max-width: 767.98px) {
  .index-container {
    margin-top: 1.5rem;
  }
}

.index-img-container {
  margin: 2rem auto 2rem auto;

}

.index-img {
  position: relative;
  display: block;
  padding-top: 1rem;
  width: 90%;
  max-width: 900px;
  height: auto;
  z-index: 0;
  pointer-events: none;
}

.btn-home {
    margin-top: 1rem;
    padding: 0.8rem 2rem;
}

main,
header,
nav {
    position: relative;
    z-index: 1;
}
