@{
Layout = "_Layout";
ViewBag.Titulo = "📋 Cadastrar Turma";
ViewBag.Info = "Registre as informações da nova turma.";
}

@model CadastrarTurmaViewModel;

<form class="card border-primary-subtle shadow-sm mx-auto p-4 bg-transparent" style="max-width: 620px;"
    asp-action="Cadastrar" method="post">

    <div class="mb-3">
        <label asp-for="Nome" class="form-label fw-semibold text-primary text-uppercase small">Nome da Turma</label>
        <input asp-for="Nome" type="text" class="form-control">
        <span asp-validation-for="Nome" class="text-danger small fw-semibold"></span>
    </div>

    @* <div class="mb-3">
        <label asp-for="CursoId" class="form-label fw-semibold text-primary text-uppercase small">Curso</label>
        <select asp-for="CursoId" class="form-select" asp-items="Model.Cursos">
            <option value="">Selecione um curso</option>
        </select>
        <span asp-validation-for="CursoId" class="text-danger small fw-semibold"></span>
    </div> *@

    <div class="mb-3">
        <label asp-for="InstrutorId" class="form-label fw-semibold text-primary text-uppercase small">Instrutor</label>
        <select asp-for="InstrutorId" class="form-select"
            asp-items='@(new SelectList(Model.Instrutores ?? new List<OpcaoInstrutorViewModel>(), "Id", "Nome" ))'>
            <option value="">Selecione um instrutor</option>
        </select>
        <span asp-validation-for="InstrutorId" class="text-danger small fw-semibold"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CapacidadeMaxima" class="form-label fw-semibold text-primary text-uppercase small">Capacidade
            Máxima</label>
        <input asp-for="CapacidadeMaxima" type="number" class="form-control">
        <span asp-validation-for="CapacidadeMaxima" class="text-danger small fw-semibold"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DataInicio" class="form-label fw-semibold text-primary text-uppercase small">Data de
            Início</label>
        <input asp-for="DataInicio" type="date" class="form-control">
        <span asp-validation-for="DataInicio" class="text-danger small fw-semibold"></span>
    </div>

    <div class="mb-3">
        <label asp-for="DataTermino" class="form-label fw-semibold text-primary text-uppercase small">Data de
            Término</label>
        <input asp-for="DataTermino" type="date" class="form-control">
        <span asp-validation-for="DataTermino" class="text-danger small fw-semibold"></span>
    </div>

    <div class="d-flex justify-content-end gap-2 mt-4">
        <a class="btn btn-outline-secondary rounded-2 px-4" asp-action="Listar">Voltar</a>
        <button class="btn btn-primary rounded-2 px-4" type="submit">Confirmar</button>
    </div>
</form>