@{
  Layout = "_Layout";
  ViewBag.Titulo = "🏷️ Categorias";
  ViewBag.Info = "Cadastre, visualize e gerencie categorias do.";
  ViewBag.TextoBotao = "Cadastrar Categoria";
  ViewBag.ControllerBotao = "Categoria";
  ViewBag.ActionBotao = "Cadastrar";
}

@model List<ListarCategoriasViewModel>;

@if (TempData["MensagemErro"] is string mensagemErro)
{
  <div class="alert alert-danger border-start border-danger border-4 rounded-3" role="alert">
    @mensagemErro
  </div>
}

@if (Model.Count == 0)
{
  <div class="alert alert-primary border-start border-primary border-4 rounded-3" role="alert">
    Nenhuma categoria cadastrada.
  </div>
}
else
{
  <div class="d-flex flex-column gap-2">

    @foreach (var c in Model)
    {
      <div class="card">
        <div class="card-body d-flex justify-content-between align-items-center">

          <h5 class="card-title mb-0 fw-semibold">
            @c.Titulo
          </h5>

          <div class="d-flex gap-2">
            <a asp-action="editar" asp-route-id="@c.Id" class="btn btn-primary">
              <i class="bi bi-pencil-square"></i>
            </a>

            <a asp-action="excluir" asp-route-id="@c.Id" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </a>
            <a asp-action="Itens" asp-route-id="@c.Id" class="btn btn-outline-dark" title="Cursos">
              <i class="bi bi-card-list"></i> Cursos
            </a>
          </div>

        </div>
      </div>
    }

  </div>
}
